.home-banner{
    background: url("./background.jpeg") no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 58px;
}

.home-banner-box{
    background-color: rgba(255, 243, 227, 1);
    width: 40%;
    height: fit-content;
    padding: 40px;
    border-radius: 10px;
}

.home-banner-headline{
    color: #B88E2F;
    font-size: 52px;
    margin: 0;
    line-height: 65px;
    width: 70%;
}

.home-banner-box > *{
    cursor: default;
}

.buy-now-link{
    background-color: #B88E2F;
    color: white;
    padding: 20px 75px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.buy-now-link:hover{
    color: #B88E2F;
    background-color: white;
    border: 2px solid #B88E2F;
}

.home-banner-box > p{
    margin-bottom: 45px;
}

.home-range-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.range-title{
    margin: 0;
}

.range-detail{
    margin: 0;
    margin-bottom: 62px;
    color: rgba(102, 102, 102, 1);
    ;
}

.home-range{
    display: flex;
    gap: 20px;
}

.range-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.range-image{
    width: 361px;
    height: 480px;
    background: no-repeat center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.range-type{
    margin: 0;
    font-weight: 600;
}

.home-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.home-product-section{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.home-product-more{
    color: #B88E2F;
    border: 2px solid #B88E2F;
    background-color: white;
    font-size: 1rem;
    padding: 0.7rem 3rem;
    font-weight: 600;
    margin-top: 2rem;
}

.home-inspiration-container{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #FCF8F3;
    gap: 2rem;
    padding: 3rem 0rem;
}

.home-inspiration-slide{
    display: flex;
}

.home-last{
    background: url("./frame.svg") no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    padding: 3.125rem;
}

.home-last > *{
    margin: 0;
}

.slides-text{
    position: absolute;
    bottom: 0;
    right: 0;
}

.slides-container{
    margin-left: 3rem;
}

.home-inspiration-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-inspiration-text > h1{
    margin: 0;
}

.home-inspiration-text > button{
    padding: 1rem 2rem;
    background-color: #B88E2F;
    border: none;
    color: white;
}